<main class="py-4 max-w-full">
	<section class="flex flex-col pb-4 max-w-full">
		<h1 class="text-main-500 text-xl font-bold">Filtros</h1>
		<form class="flex flex-col">
			<div class="flex flex-row space-x-2">
				<div class="flex flex-col">
					<label for="nomeFilter">Nome:</label>
					<input class="p-1 rounded-md bg-main-300" type="text" name="nomeFilter" placeholder="..."
						id="nomeFilter" value="">
				</div>
				<div class="flex flex-col">
					<label for="nomeFilter">CPF:</label>
					<input class="p-1 rounded-md bg-main-300" type="text" name="nomeFilter" placeholder="..."
						id="nomeFilter" value="">
				</div>
				<div class="flex flex-col">
					<label for="nomeFilter">E-Mail:</label>
					<input class="p-1 rounded-md bg-main-300" type="text" name="nomeFilter" placeholder="..."
						id="nomeFilter" value="">
				</div>
			</div>
			<div class="flex flex-row space-x-2">
				<div class="flex flex-col">
					<label for="nomeFilter">Tipo:</label>
					<input class="p-1 rounded-md bg-main-300" type="text" name="nomeFilter" placeholder="..."
						id="nomeFilter" value="">
				</div>
				<div class="flex flex-col">
					<label for="nomeFilter">Status:</label>
					<input class="p-1 rounded-md bg-main-300" type="text" name="nomeFilter" placeholder="..."
						id="nomeFilter" value="">
				</div>
			</div>
		</form>
	</section>
	<section class="flex justify-start flex-row space-x-2">
		<button appButton color="dark">Novo aluno</button>
		<button appButton color="dark">Novo Professor</button>
		<button appButton color="dark">Filtrar</button>
	</section>
</main>
