<div class="calendario">
  <div class="header">
    <button (click)="previousMonth()">◀</button>
    <span>{{ getMonthYear() }}</span>
    <button (click)="nextMonth()">▶</button>
  </div>

  <div class="dias-semana">
    <div *ngFor="let dia of ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb']">
      {{ dia }}
    </div>
  </div>

  <div class="dias">
    <div *ngFor="let semana of weeks" class="semana">
      <button
        *ngFor="let dia of semana"
        class="dia"
        [class.selecionado]="dia && isSelected(dia)"
        [disabled]="!dia"
        (click)="onSelectDay(dia)"
      >
        {{ dia?.getDate() }}
      </button>
    </div>
  </div>
</div>
