<main class="py-4 max-w-full max-h-full h-full">
    <section class="flex flex-col pb-4 max-w-full">
		<div class="flex flex-row space-x-4">
			<h1 class="text-main-500 text-xl font-bold">Filtros</h1>
			<button
				type="button"
				appButton
				size="extraSmall"
				(click)="limparFiltros()"
			>
				Limpar filtros
			</button>
		</div>
		<form class="flex flex-col text-main-500 font-bold" [formGroup]="filterForm">
			<div class="flex px-1 flex-row space-x-2">
				<section class="flex flex-row space-x-4 flex-1">
					<div class="flex flex-col">
                        <app-search-box-single
                        formControlName="idAluno"
                        [label]="'Aluno:'"
                        [options]="alunosFilterLs"
                        [optionLabel]="'idUsuario.nome'"
                        [optionValue]="'id'"
                        nullLabel="Pesquisar"
                        (searchChange)="buscarAluno($event)"
                        ></app-search-box-single>
					</div>
					<div class="flex flex-col">
						<app-search-box-single
                        formControlName="idProfessor"
                        [label]="'Professor:'"
                        [options]="professoresFilterLs"
                        [optionLabel]="'idUsuario.nome'"
                        [optionValue]="'id'"
                        nullLabel="Pesquisar"
                        (searchChange)="buscarProfessor($event)"
                        ></app-search-box-single>
					</div>
					<div class="flex flex-col">
						<app-multi-select-input
                        formControlName="status"
						[label]="'Status:'"
						[options]="statusObj"
						optionLabel="name"
						optionValue="value"
						nullLabel="Todos">
						</app-multi-select-input>
					</div>
				</section>
			</div>
		</form>
	</section>
	<section class="flex justify-between flex-row">
		<div class="flex flex-row space-x-2">
			<button icon="search" icon-slot="right" appButton color="dark" (click)="onFilter()">
				Filtrar
			</button>
		</div>
	</section>
	<app-simple-table
	[colunas]="colunas"
	[dados]="aulaExtraObj.conteudo"
	[botoesAcoes]="acoes"
	[totalItens]="aulaExtraObj.total"
	(paginacaoChange)="onPaginacaoChange($event)"
    (orderChange)="orderBy($event)">
	</app-simple-table>
</main>