<main class="flex flex-1 flex-row h-full">
	<section class="bgPattern w-3/4">
	</section>
	<section class="flex flex-1 bg-main-100 flex-col justify-center space-y-10 items-center">
		<h1 class="text-7xl text-main-500 font-bold">DanceSys</h1>
		<form (ngSubmit)="onSubmitLoginForm()" class="flex space-y-3 flex-col w-3/4 items-center">
			<input class="p-3 rounded-sm bg-main-200 w-full" type="text" placeholder="Email..." name="email"
				[(ngModel)]="currentEmail">
			<input class="p-3 rounded-sm bg-main-200 w-full" type="password" placeholder="Senha..." name="password"
				[(ngModel)]="currentPassword">
			<button class="bg-main-300 p-3 rounded-lg w-2/3" type="submit">Login</button>
		</form>
	</section>
</main>
