<main class="bg-main-100 flex flex-1 flex-col h-full w-full p-8">
	<header class="w-full px-4 flex flex-row h-10 border-b-main-500 border-b-3 ">
		<div class="flex flex-row justify-between w-2/3">
			<a routerLink="usuarios" routerLinkActive="bg-main-500 text-white"
				class="cursor-pointer p-2  text-main-500 font-bold rounded-t-lg">Usuarios</a>
			<a routerLink="aulas" routerLinkActive="bg-main-500 text-white"
				class="cursor-pointer p-2 text-main-500 font-bold rounded-t-lg">Aulas</a>
			<a routerLink="horarios" routerLinkActive="bg-main-500 text-white"
				class="cursor-pointer p-2 text-main-500 font-bold rounded-t-lg">Horarios</a>
			<a routerLink="financeiro" routerLinkActive="bg-main-500 text-white"
				class="cursor-pointer p-2 text-main-500  font-bold rounded-t-lg">Financeiro</a>
			<a routerLink="eventos" routerLinkActive="bg-main-500 text-white"
				class="cursor-pointer p-2 text-main-500 font-bold rounded-t-lg">Eventos</a>
		</div>
	</header>
	<router-outlet />
</main>
