/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
	--color-main-100: oklch(0.95 0.0297 62.59);
	--color-main-300: oklch(0.87 0.0218 65.28);
	--color-main-500: oklch(0.37 0.0565 58.42);
	--color-main-400: oklch(0.69 0.0586 57.7);
	--color-main-900: oklch(0.19 0.0227 66.08);
	--color-danger: oklch(0.51 0.2037 28.58);
}

html,
body {
	padding: 0;
	margin: 0;
	border: none;
	height: 100%;
}

.bgPattern {
	background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='32' height='32' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23dfd2c6ff'/><path d='M32-10L42 0 32 10 22 0zM0-10L10 0 0 10-10 0zm0 32l10 10L0 42l-10-10zm32 0l10 10-10 10-10-10zM16-10L26 0 16 10 6 0zm0 32l10 10-10 10L6 32zM32 6l10 10-10 10-10-10zM0 6l10 10L0 26l-10-10zm16 0l10 10-10 10L6 16z'  stroke-linecap='square' stroke-width='1' stroke='%23b99479ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.tabela {
	background-color: var(--color-main-100);
	max-height: 60vh;
	width: 100%;
	margin-top: 0.5rem;
	overflow-y: auto;
	scrollbar-color: var(--color-main-500) var(--color-main-100);
	padding-bottom: 1rem;

	table {
		width: 100%;
		max-height: 60vh;
		table-layout: auto;

		thead {
			background-color: var(--color-main-500);
			color: white;
			top: 0;
		}

		th {
			padding: 0.5rem;
		}

		tr,
		td {
			padding: 0.25rem;
			border-width: 3px;
			border-color: var(--color-main-500);
			border-style: solid;
		}
	}
}
