.boleto {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #55371F;
}

.info p {
  margin: 0;
}

.atrasado-texto {
  color: #8B1515;
  font-weight: bold;
  margin-top: 0.5rem;
}